<head>
    @{
        ViewBag.Title = "Home";
    }

    <link rel="stylesheet" href="~/Content/Ui/Cards.css" />

    <style>
        .center-card {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .imagem-facilidade {
            width: 100%;
        }
    </style>
</head>

<body>
    <br />

    <div class="container">

        <h2 class="text-success justify-content-center">Os nossos servidores:</h2>

        <div class="row">
            <div class="col">
                <div class="wrapper center-card">
                    <div class="clash-card barbarian">
                        <div class="clash-card__image clash-card__image--barbarian hover14">
                            <figure><img src="https://hypixel.net/styles/hypixel-v2/images/game-art/SG.png" alt="Minecraft" style="height: 320px; width: 320px;" /></figure>
                        </div>
                        <div class="clash-card__level clash-card__level--barbarian"></div>
                        <div class="clash-card__unit-name">Minecraft</div>
                        <div class="clash-card__unit-description">
                            Temos os melhores servidores do mercado! A nossa empresa fornece a proteção mais atual existente no mercado!
                        </div>

                        <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
                            <button class="btn btn-success">Ver planos</button>
                        </div>

                        <br />

                    </div> <!-- end clash-card barbarian-->
                </div> <!-- end wrapper -->
            </div>

            <div class="col">
                <div class="wrapper center-card">
                    <div class="clash-card barbarian">
                        <div class="clash-card__image clash-card__image--barbarian hover14">
                            <figure><img src="https://hypixel.net/styles/hypixel-v2/images/game-art/Quakecraft.png" alt="CSGO" style="height: 320px; width: 320px;" /></figure>
                        </div>
                        <div class="clash-card__level clash-card__level--barbarian"></div>
                        <div class="clash-card__unit-name">Cs Go</div>
                        <div class="clash-card__unit-description">
                            Temos os melhores servidores do mercado! A nossa empresa fornece a proteção mais atual existente no mercado!
                        </div>

                        <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
                            <button class="btn btn-success">Ver planos</button>
                        </div>

                        <br />

                    </div> <!-- end clash-card barbarian-->
                </div> <!-- end wrapper -->
            </div>

            <div class="col">
                <div class="wrapper center-card">
                    <div class="clash-card barbarian">
                        <div class="clash-card__image clash-card__image--barbarian hover14">
                            <figure><img src="https://hypixel.net/styles/hypixel-v2/images/game-art/TurboKartRacers.png" alt="GTA V" style="height: 320px; width: 320px;" /></figure>
                        </div>
                        <div class="clash-card__level clash-card__level--barbarian"></div>
                        <div class="clash-card__unit-name">GTA V</div>
                        <div class="clash-card__unit-description">
                            Temos os melhores servidores do mercado! A nossa empresa fornece a proteção mais atual existente no mercado!
                        </div>

                        <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
                            <button class="btn btn-success">Ver planos</button>
                        </div>

                        <br />

                    </div> <!-- end clash-card barbarian-->
                </div> <!-- end wrapper -->
            </div>
        </div>

    </div>

    <div style="background: #ededed;">

        <div class="container">

            <br />

            <h2 class="text-success">Facilidade</h2>
            <hr />

            <div class="row">
                <div class="col-8">

                    <p class="text-dark" style="vertical-align: middle;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget mauris interdum, convallis erat eu, tincidunt urna. Praesent eu suscipit lacus, id interdum metus. Maecenas sagittis venenatis orci ut facilisis. Fusce sed gravida mi. Phasellus varius fringilla orci, nec varius ante maximus vel. Nulla facilisi. Suspendisse ut auctor libero. Proin egestas est odio, eget mollis est porta vitae. Ut condimentum finibus justo vitae fermentum. Sed ex nunc, ullamcorper tincidunt nibh at, eleifend pulvinar est.</p>

                </div>

                <div class="col-4">

                    <img src="https://www.pinclipart.com/picdir/big/170-1708784_website-design-development-software-hiring-clipart.png"
                         alt="Facilidade"
                         class="img-responsive imagem-facilidade" />

                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <br />

        <h2 class="text-success" style="text-align: right;">Acesso</h2>
        <hr />

        <div class="row">
            <div class="col-4">

                <img src="https://i.ibb.co/vhLKft3/161-1619257-web-development-cms-images-png-transparent-png-removebg-preview.png"
                     alt="Acesso"
                     class="img-responsive imagem-facilidade" />

            </div>

            <div class="col-8">

                <p class="text-dark" style="vertical-align: middle;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget mauris interdum, convallis erat eu, tincidunt urna. Praesent eu suscipit lacus, id interdum metus. Maecenas sagittis venenatis orci ut facilisis. Fusce sed gravida mi. Phasellus varius fringilla orci, nec varius ante maximus vel. Nulla facilisi. Suspendisse ut auctor libero. Proin egestas est odio, eget mollis est porta vitae. Ut condimentum finibus justo vitae fermentum. Sed ex nunc, ullamcorper tincidunt nibh at, eleifend pulvinar est.</p>

            </div>

        </div>
    </div>

    <br />

</body>